
a {
  text-decoration: none;
  color: #73b9ff;
}

.weather-updates-background {
  background-color: #73b9ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-updates-card {
  padding: 40px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
  color: #333;
}

.container {
  display: flex;
  justify-content: center;
}

.weather-updates-heading {
  color: #73b9ff;
  margin-bottom: 20px;
}

.weather-input {
  width: 100%;
  margin-bottom: 15px;
}

button[type="submit"] {
  background-color: #ff9800;
}

.weather-register-link {
  color: #333;
  margin-top: 15px;
}

.weather-register-link a:hover {
  color: #ffa726;
}
.alert-message{
  color: red;
}
